@{
    ViewBag.Title = "Iniciar Sesión";
}

<main>
    <!-- Sección: Bloque de Diseño -->
    <section class="">
        <!-- Jumbotron -->
        <div class="px-4 py-5 px-md-5 text-center text-lg-start" style="background-color: hsl(0, 0%, 96%)">
            <div class="container">
                <div class="row gx-lg-5 align-items-center">
                    <div class="col-lg-6 mb-5 mb-lg-0">
                        <h1 class="my-5 display-3 fw-bold ls-tight">
                            Bienvenido de nuevo <br />
                            <span class="text-primary">a nuestro servicio de catering</span>
                        </h1>
                        <p style="color: hsl(217, 10%, 50.8%)">
                            Accede a tu cuenta para realizar o gestionar tus reservas, ver eventos anteriores o actualizar tu información personal.
                        </p>
                    </div>

                    <div class="col-lg-6 mb-5 mb-lg-0">
                        <div class="card">
                            <div class="card-body py-5 px-md-5">
                                <form>
                                    <!-- Email input -->
                                    <div data-mdb-input-init class="form-outline mb-4">
                                        <input type="email" id="loginEmail" class="form-control" />
                                        <label class="form-label" for="loginEmail">Correo electrónico</label>
                                    </div>

                                    <!-- Password input -->
                                    <div data-mdb-input-init class="form-outline mb-4">
                                        <input type="password" id="loginPassword" class="form-control" />
                                        <label class="form-label" for="loginPassword">Contraseña</label>
                                    </div>

                                    <!-- Remember me and forgot password -->
                                    <div class="d-flex justify-content-between mb-4">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="rememberMe" checked />
                                            <label class="form-check-label" for="rememberMe">
                                                Recuérdame
                                            </label>
                                        </div>
                                        <a href="#!">¿Olvidaste tu contraseña?</a>
                                    </div>

                                    <!-- Submit button -->
                                    <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4" onclick="location.href='@Html.ActionLink("Registrate", "Register", "Home", new { area = "" }, new { @class = "nav-link" })'">
                                        Iniciar sesión
                                    </button>

                                    <!-- Register prompt -->
                                    <div class="text-center">
                                        <p>¿No tienes una cuenta? @Html.ActionLink("Registrate", "Register", "Home", new { area = "" }, new { @class = "nav-link" })</p>
                                        
                                        <p>O ingresa con:</p>

                                        <button type="button" class="btn btn-link btn-floating mx-1">
                                            <i class="fab fa-facebook-f"></i>
                                        </button>
                                        <button type="button" class="btn btn-link btn-floating mx-1">
                                            <i class="fab fa-google"></i>
                                        </button>
                                        <button type="button" class="btn btn-link btn-floating mx-1">
                                            <i class="fab fa-twitter"></i>
                                        </button>
                                        <button type="button" class="btn btn-link btn-floating mx-1">
                                            <i class="fab fa-github"></i>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Jumbotron -->
    </section>
    <!-- Sección: Bloque de Diseño -->
</main>
